*,div,pre,textarea,body,input,td,tr,p
{
  background-color: #282a36 !important;
  /* background-image: none; */
  color: #f8f8f2 !important;
  border-color: #3a3c4e !important;
}

h1,h2,h3,h4
{
  background-color: #282a36 !important;
  color: #bfbfbf !important;
}

a
{
  color: #ff79c6 !important;
}

a:hover,a:focus
{
  color: #50fa7b  !important;
}

a:visited
{
  color: #caa9fa !important;
}

/* img */
/* { */
/*   opacity: .8; */
/* } */

/* img:hover */
/* { */
/*   opacity: 1; */
/* } */


/* Hint mode color styling
 * Color scheme: Base16 Eighties (https://github.com/chriskempson/base16)
 *
 * The precedence of the user style is lower than that of the website so you
 * have to mark your style definition to have higher priority.
 */
span[vimbhint^='label'] {
    background-color: #ff79c6 !important;
    border: 1px solid #3a3c4e !important;
    color: #282828 !important;
    font: bold 10pt monospace !important;
    opacity: 1 !important;
    padding: .1em .4em !important;
    text-transform: uppercase !important;
}
span[vimbhint='label focus'] {
    font: bold 13pt monospace !important;
}
*[vimbhint^='hint'] {
    background-color: #f4f99d !important;
    color: #282828 !important;
}
*[vimbhint='hint focus'] {
    background-color: #50fa7b !important;
    color: #282a36 !important;
}

/* ._hintElem._hintFocus img */
/* { */
/*   opacity: 1; */
/* } */


/*  # Normal colors */
/*  normal: */
/*    black: '#282a36' */
/*    red: '#ff5555' */
/*    green: '#50fa7b' */
/*    yellow: '#f1fa8c' */
/*    blue: '#caa9fa' */
/*    magenta: '#ff79c6' */
/*    cyan: '#8be9fd' */
/*    white: '#bfbfbf' */
/* */
/*  # Bright colors */
/*  bright: */
/*    black: '#575b70' */
/*    red: '#ff6e67' */
/*    green: '#5af78e' */
/*    yellow: '#f4f99d' */
/*    blue: '#caa9fa' */
/*    magenta: '#ff92d0' */
/*    cyan: '#9aedfe' */
/*    white: '#e6e6e6' */
